
.wrapper .logo img{
    height: 90px;
    border-radius: 50px;
}

 .wrapper {
    margin-top: 20px;
    background-color: white;
    position: relative;
    top: 40px;
    right: 15px;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  .track {
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 15s infinite linear;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 180%;
  }
  
  span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }